<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      (click)="navBack()"
      name="arrow-back-outline"
      class="options-icon"
    ></ion-icon>
    <ion-title>conversao-moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-basico">
  <div class="itens-conversao">
    <b>Escolha uma moeda para fazer a conversão:</b>
  </div>

  <ion-list class="itens-conversao">
    <ion-item>
      <ion-select (ionChange)="atualizarMoedaEscolhida($event)">
        <ion-select-option
          *ngFor="let moeda of listaMoedas"
          [value]="moeda.name"
        >
          {{moeda.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="moedaEscolhida.name != ''">
    <div>
      <!-- <ion-item> Moeda: {{moedaEscolhida.name}} </ion-item> -->
      <ion-item> Taxa de venda: {{moedaEscolhida.ask}} </ion-item>
    </div>

    <div class="itens-conversao">
      <b
        >Última verificação da moeda às {{moedaEscolhida.create_date | date:
        "HH:mm:ss"}}</b
      >
    </div>
    <div class="itens-conversao">
      <ion-button (click)="buscarMoedas()" class="botao">
        Atualizar valores
      </ion-button>
    </div>

    <div class="itens-conversao">
      <ion-label> {{moedaEscolhida.code}} </ion-label>
      <ion-label class="igual-conversao"></ion-label>
      <ion-label> BR$ </ion-label>
    </div>

    <div class="itens-conversao">
      <ion-input
        [(ngModel)]="valor1"
        class="input-conversao"
        placeholder="Valor para converter"
        inputmode="numeric"
      >
      </ion-input>
      <ion-label class="igual-conversao"> = </ion-label>
      <ion-label
        class="item-conversao"
        placeholder="Valor convertido"
        inputmode="numeric"
      >
        {{valor1 * taxa}}
      </ion-label>
    </div>

    <!-- Segunda operação -->
    <div class="itens-conversao">
      <ion-label> BR$ </ion-label>
      <ion-label class="igual-conversao"></ion-label>
      <ion-label> {{moedaEscolhida.code}} </ion-label>
    </div>
    <div class="itens-conversao">
      <ion-input
        [(ngModel)]="valor2"
        class="input-conversao"
        placeholder="Valor para converter"
        inputmode="numeric"
      >
      </ion-input>
      <ion-label class="igual-conversao"> = </ion-label>
      <ion-label
        class="item-conversao"
        placeholder="Valor convertido"
        inputmode="numeric"
      >
        {{valor2 / taxa}}
      </ion-label>
    </div>
  </div>
</ion-content>
