<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon
            (click)="navBack()"
            name="arrow-back-outline"
            class="options-icon"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="8" class="alinhaGrid">
          <ion-title>LUGARES FAVORITOS</ion-title>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-basico">
  <ion-accordion-group *ngIf="!addLugar">
    <ion-accordion *ngFor="let lugar of lugares, let i=index" [value]="i">
      <ion-item slot="header" color="light">
        <ion-label>{{lugar.nome}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        {{lugar.rua}} {{lugar.numero}} {{lugar.bairro}} {{lugar.cidade}} -
        {{lugar.estado}} {{lugar.complemento}}
        <br />
        Comentário: {{lugar.comentario}}
        <br />
        Nota: {{lugar.avaliacao}}/5
        <br />
        <ion-button class="botao" (click)="abrirMapa(i)">
          Abrir no mapa
        </ion-button>
        <ion-button class="botao" (click)="editarLocal(i)"> Editar </ion-button>
        <ion-button class="botao" (click)="excluirLocal(i)">
          Excluir
        </ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div *ngIf="addLugar">
    <div>
      <ion-input
        [(ngModel)]="lugar.nome"
        class="input-login-cad"
        placeholder="Nome"
      >
      </ion-input>
    </div>

    <div class="container-cep">
      <ion-input
        [(ngModel)]="lugar.cep"
        maxlength="9"
        class="input-login-cad"
        placeholder="CEP"
        inputmode="numeric"
      >
      </ion-input>
      <ion-button class="button-cep" (click)="buscarCEP(lugar.cep)">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.rua"
        class="input-login-cad"
        placeholder="Rua"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.bairro"
        class="input-login-cad"
        placeholder="Bairro"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.cidade"
        class="input-login-cad"
        placeholder="Cidade"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.estado"
        class="input-login-cad"
        placeholder="Estado"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.numero"
        class="input-login-cad"
        placeholder="Número"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.complemento"
        class="input-login-cad"
        placeholder="Complemento"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="lugar.comentario"
        class="input-login-cad"
        placeholder="Comentário"
      >
      </ion-input>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="2.5"></ion-col>
        <ion-col class="colAval">
          <ion-icon
            size="large"
            class="stars"
            *ngFor="let item of list; let i = index"
            [name]="nota <= i? 'star-outline' :'star'"
            (click)="review(i)"
          >
          </ion-icon>
        </ion-col>
        <ion-col size="2.5"></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="alinharBotoes">
    <div *ngIf="addLugar">
      <ion-button class="botao" (click)="cadastrarLugar()"> Salvar </ion-button>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEndereco()" *ngIf="!addLugar">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
