<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon
            (click)="navBack()"
            name="arrow-back-outline"
            class="options-icon"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="8" class="alinhaGrid">
          <ion-title>TAREFAS</ion-title>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-basico">

  <ion-list *ngIf="!addTarefa">
    <ion-item-sliding *ngFor="let tarefa of tarefas">
      <ion-item (click)="openActions(tarefa)">
        <ion-label *ngIf="!tarefa.feita" color="{{tarefa.cor}}"
          ><ion-icon name="{{tarefa.categoria}}" size="large"></ion-icon> :
          {{tarefa.nome}}</ion-label
        >
        <ion-label *ngIf="tarefa.feita" color="{{tarefa.cor}}"
          ><del
            ><ion-icon name="{{tarefa.categoria}}" size="large"></ion-icon> :
            {{tarefa.nome}}</del
          ></ion-label
        >

        <ion-icon
          slot="start"
          name="radio-button-off"
          *ngIf="!tarefa.feita"
        ></ion-icon>
        <ion-icon
          slot="start"
          name="checkmark-circle"
          color="sucess"
          *ngIf="tarefa.feita"
        ></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="delete(tarefa)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!addTarefa">
    <ion-fab-button (click)="novaTarefa()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="addTarefa == true">
    <div>
      <ion-input
        [(ngModel)]="tarefaAtual.nome"
        class="input-login-cad"
        placeholder="Tarefa"
      >
      </ion-input>
    </div>

    <ion-button
      *ngIf="escolherIcone == false"
      (click)="showIcones()"
      class="botao"
    >
      Escolher Icone</ion-button
    >
    <!-- <ion-input class="input-login-cad" *ngIf="escolherIcone == true"> -->
    <div *ngIf="escolherIcone == true" class="iconesTarefas">
      <div *ngFor="let icone of icones; let i=index" class="iconeTarefa">
        <ion-icon (click)="defineCategoria(i)" name="{{icone}}"></ion-icon>
      </div>
    </div>
    <!-- </ion-input> -->

    <div>
      Icone Selecionado:
      <ion-icon name="{{tarefaAtual.categoria}}" size="large"></ion-icon>
    </div>
    <ion-button
      *ngIf="escolherIcone == true"
      (click)="closeIcones()"
      class="botao"
    >
      Confirmar Icone</ion-button
    >

    <div>
      <ion-input
        [(ngModel)]="tarefaAtual.descricao"
        class="input-login-cad"
        placeholder="Descrição"
      >
      </ion-input>
    </div>

    <div class="alinharBotoes">
      <ion-button class="botao" (click)="cadastrarTarefa()">
        Salvar
      </ion-button>
      <ion-button class="botao" (click)="cancelarTarefa()">
        Cancelar
      </ion-button>
    </div>
  </div>
</ion-content>
