<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      (click)="navBack()"
      name="arrow-back-outline"
      class="options-icon"
    ></ion-icon>
    <ion-buttons slot="start"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-basico">
  <div class="container-login">
    <h1 class="titulo-login-cad">Cadastre-se</h1>

    <ion-input
      [(ngModel)]="user.nome"
      class="input-login-cad"
      placeholder="Nome"
    >
      <ion-icon class="icon-login-cad" name="person" slot="start"></ion-icon>
    </ion-input>

    <ion-input
      [(ngModel)]="user.email"
      class="input-login-cad"
      placeholder="Email"
      inputmode="email"
    >
      <ion-icon class="icon-login-cad" name="mail" slot="start"></ion-icon>
    </ion-input>

    <ion-input
      [(ngModel)]="senha1"
      class="input-login-cad"
      placeholder="Criar senha"
    >
      <ion-icon class="icon-login-cad" name="key" slot="start"></ion-icon>
    </ion-input>

    <ion-input
      [(ngModel)]="senha2"
      class="input-login-cad"
      placeholder="Confrimar senha"
    >
      <ion-icon class="icon-login-cad" name="key" slot="start"></ion-icon>
    </ion-input>
  </div>

  <div class="container-botao">
    <ion-button
      class="botao"
      expand="block"
      (click)="realizarCadastro()"
      >Cadastrar</ion-button
    >
  </div>
</ion-content>
