<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      (click)="navBack()"
      name="arrow-back-outline"
      class="options-icon"
    ></ion-icon>
    <ion-title>Estadia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-basico">
  <ion-card>
    <ion-card-title> {{estadia.nome}} </ion-card-title>
    {{estadia.rua}}, {{estadia.numero}}. {{estadia.bairro}} {{estadia.cidade}} -
    {{estadia.estado}} {{estadia.complemento}}
  </ion-card>

  <div *ngIf="editar">
    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.nome"
        class="input-login-cad"
        placeholder="Nome"
      >
      </ion-input>
    </div>

    <div class="container-cep">
      <ion-input
        [(ngModel)]="estadiaAtual.cep"
        maxlength="9"
        class="input-login-cad"
        placeholder="CEP"
        inputmode="numeric"
      >
      </ion-input>
      <ion-button class="button-cep" (click)="buscarCEP(estadiaAtual.cep)">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.rua"
        class="input-login-cad"
        placeholder="Rua"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.bairro"
        class="input-login-cad"
        placeholder="Bairro"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.cidade"
        class="input-login-cad"
        placeholder="Cidade"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.estado"
        class="input-login-cad"
        placeholder="Estado"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.numero"
        class="input-login-cad"
        placeholder="Número"
      >
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadiaAtual.complemento"
        class="input-login-cad"
        placeholder="Complemento"
      >
      </ion-input>
    </div>
  </div>

  <div class="alinharBotoes">
    <div *ngIf="editar">
      <ion-button class="botao" (click)="cadastrarEstadia()">
        Salvar
      </ion-button>
    </div>

    <div *ngIf="!editar">
      <ion-button class="botao" (click)="editar = true">
        Editar estadia
      </ion-button>
    </div>
    <div>
      <ion-button class="botao" (click)="abrirMapa()">
        Abrir no mapa
      </ion-button>
    </div>
  </div>
</ion-content>
