<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>estadia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">estadia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title>
    {{estadia.nome}}
    </ion-card-title>
    {{estadia.rua}}, {{estadia.numero}}. {{estadia.bairro}}
    {{estadia.cidade}} - {{estadia.estado}}
    {{estadia.complemento}}

  </ion-card>

  <div *ngIf="editar">

    <div>
      <ion-input
        [(ngModel)]="estadia.nome"
        class="input-login-cad"
        placeholder="Nome"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div class="container-cep">
      <ion-input
        [(ngModel)]="estadia.cep"
        maxlength="9"
        class="input-login-cad"
        placeholder="CEP"
        inputmode="numeric"
      >
        <ion-icon
          class="icon-login-cad"
          name="location-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
      <ion-button class="button-cep" (click)="buscarCEP(estadia.cep)">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadia.rua"
        class="input-login-cad"
        placeholder="Rua"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadia.bairro"
        class="input-login-cad"
        placeholder="Bairro"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadia.cidade"
        class="input-login-cad"
        placeholder="Cidade"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadia.estado"
        class="input-login-cad"
        placeholder="Estado"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadia.numero"
        class="input-login-cad"
        placeholder="Número"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div>
      <ion-input
        [(ngModel)]="estadia.complemento"
        class="input-login-cad"
        placeholder="Complemento"
      >
        <ion-icon
          class="icon-login-cad"
          name="home-outline"
          slot="start"
        ></ion-icon>
      </ion-input>
    </div>

    <div>
      <ion-button class="button-login-cad" (click)="cadastrarEstadia()">
        Salvar
      </ion-button>
    </div>
  </div>

  <div *ngIf="!editar">
    <ion-button class="button-login-cad" (click)="editar = true">
      Editar
    </ion-button>
  </div>

    <ion-button class="button-login-cad" (click)="abrirMapa()">
      Abrir no mapa
    </ion-button>
</ion-content>
